/* ==========================================================================
Wholesale price
========================================================================== */

.ty-opt-price {
    display: block;
}

.ty-compact-list__title,
.ty-product-list__price {
    .ty-opt-price {
        float: left;
    }
}

.ty-grid-list__price {
    .ty-opt-price {
        font-size: 80%;
    }
}

/* Wholesale price */
